*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-font: "Roboto", "sans-serif";
  --secondary-font: "Raleway", "sans-serif";
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-hover-color: #f5f4fa;
  --alternative-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  background-color: var(--primary-bg-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

h2,
h3 {
  color: var(--primary-title-color);
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

h3 {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: left;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* шапка сторінки */

/* .header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #ececec;
} */

.logo {
  color: var(--primary-title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-beginning {
  color: var(--accent-color);
}

.nav .list-item {
  color: var(--primary-title-color);
  font-weight: 500;
}

.list-item:hover,
.list-item:focus {
  color: var(--accent-color);
}

.email-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.email-link:hover,
.tel-link:hover,
.email-link:focus,
.tel-link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  /* position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px; */
  background-color: var(--alternative-bg-color);
}

.hero > .slogan {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero > .btn {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* переваги */
.visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* що ми робимо */

/* наша команда */
.our-team {
  background-color: var(--section-bg-color);
}

.team-card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-name {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}

.employee-position {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/* портфоліо */
filter-list .btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
  background-color: var(--section-bg-color);
}

.filters-list .btn:hover,
.filters-list .btn:focus {
  color: var(--primary-hover-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project-type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.btn {
  cursor: pointer;
}

/* футер */

.footer {
  background-color: var(--alternative-bg-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary-text-color);
}

address {
  font-style: normal;
}

.contacts .mail .contacts .phone {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
